<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WEEDIM - Web Midi Maker</title>
<link rel="stylesheet" type="text/css" href={{url_for('static',filename="weedim.css")}}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src={{url_for('static',filename="weedim.js")}} type="text/javascript"></script>
<!-- Content from Midi.js coming -->
<!-- polyfill -->
<script src={{url_for('static',filename="midijs/inc/shim/Base64.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/inc/shim/Base64binary.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/inc/shim/WebAudioAPI.js")}} type="text/javascript"></script>
<!-- midi.js package -->
<script src={{url_for('static',filename="midijs/js/midi/audioDetect.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/gm.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/loader.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/plugin.audiotag.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/plugin.webaudio.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/plugin.webmidi.js")}} type="text/javascript"></script>
<!-- utils -->
<script src={{url_for('static',filename="midijs/js/util/dom_request_xhr.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/util/dom_request_script.js")}} type="text/javascript"></script>

</head>
<body>
<!-- Loading screen che và via al caricamento del soundfont -->
<span class="loadingScreen" id="loadclear">
<span id="loading" class="fa fa-refresh"></span>
<span class="loadingwrite">Loading Soundfont...</span>
</span>

<!-- Banner -->
<span class="banner">
<span class="elBanner"><img alt="banner" src={{url_for('static',filename="img/banner.png")}} width=400 height=150></span>
<span class="elBanner">
<br>
<b>Author:</b> Massimo Trionfante<br>
<b>Mail:</b> massimo.trionfante@gmail.com<br>
<b>Github:</b> <a href="https://github.com/MassimoTrionfante">https://github.com/MassimoTrionfante</a><br>
</span>
</span>


<!-- BARRA IN ALTO -->
<span class="barraSuperiore">

<!-- Menu' tendina -->
<span class="menuTendina">
<!-- ...e i vari elementi interni -->
<span class="elemMT">File</span>
<span class="elemMT">Project</span>
<span class="elemMT">Help</span>
</span>

<!-- Menu' con info del progetto -->
<span class="menuInfo">
<!-- ...e i vari elementi interni -->
<span class="elemMI">MASTER VOLUME:<span class="elInput" id="vol">180</span></span>
<span class="elemMI">NOTE LENGTH:<span class="elInput" id="tem">4th</span></span>
</span>
</span>

<!-- BARRA LATERALE SINISTRA, contiene tutti i canali -->
<span class="barraLaterale">

<span class="rigaBarraLaterale">
<span class="canaleAttivo">&#8226;</span>
<span class="canaleLaterale">Piano</span>

<span style="visibility:hidden">
<span class="fa fa-edit"></span>
<span class="fa fa-trash"></span>
</span>

</span>

<span class="rigaBarraLaterale">
<span class="canaleDisattivo">&#8226;</span>
<span class="canaleLaterale">Percussione</span>
</span>

<span class="rigaBarraLaterale">
<span class="canaleDaAggiungere">&#8226;</span>
<span class="canaleLateraleAggiungi">Add channel...</span>
</span>

</span>

<!-- CORPO PRINCIPALE, dove puoi piazzare le note -->
<span id="corpoPrincipale" class="corpoPrincipale" onmousedown="addNote(this,event)">
<!-- Appendi le note qui! -->
<!--<span class="nota"
onmousemove="moveNote(this,event)"
onmousedown="setMouseDown(this,event)"
onmouseup="setMouseUp()">C7</span>
-->
<!--
NOTE LENGTHS->WIDTH INFO!! 
4    = 113px
8^16 = 83px
8    = 53px
16   = 23px // EACH SQUARE IS A 16th OF NOTE!
-->


{% set i = 1 %}
{% for i in range(1,999) %}
{% set j = i*30 %}
<span class="lineaSedicesima" style="margin-left:{{j}}px;"></span>
{% if i%4 == 0 %}
<span class="lineaSedicesima" style="margin-left:{{j+1}}px;"></span>
{% endif %}
{% endfor %}

{% set j = 0 %}
{% set nota = 12 %}
{% for j in range(0,7) %}
  {% set i = 7-j %}
  {% set nota = 12*i %}
<span class="separatoreOttave"></span>

<span class="lineaNota"><span id={{nota+11}} onclick="playNote(this)" class="notaCorpoPrincipaleW">B{{i}}</span></span>
<span class="lineaNota"><span id={{nota+10}} onclick="playNote(this)" class="notaCorpoPrincipaleB">A+{{i}}</span></span>
<span class="lineaNota"><span id={{nota+9}} onclick="playNote(this)" class="notaCorpoPrincipaleW">A{{i}}</span></span>
<span class="lineaNota"><span id={{nota+8}} onclick="playNote(this)" class="notaCorpoPrincipaleB">G+{{i}}</span></span>
<span class="lineaNota"><span id={{nota+7}} onclick="playNote(this)" class="notaCorpoPrincipaleW">G{{i}}</span></span>
<span class="lineaNota"><span id={{nota+6}} onclick="playNote(this)" class="notaCorpoPrincipaleB">F+{{i}}</span></span>
<span class="lineaNota"><span id={{nota+5}} onclick="playNote(this)" class="notaCorpoPrincipaleW">F{{i}}</span></span>
<span class="lineaNota"><span id={{nota+4}} onclick="playNote(this)" class="notaCorpoPrincipaleW">E{{i}}</span></span>
<span class="lineaNota"><span id={{nota+3}} onclick="playNote(this)" class="notaCorpoPrincipaleB">D+{{i}}</span></span>
<span class="lineaNota"><span id={{nota+2}} onclick="playNote(this)" class="notaCorpoPrincipaleW">D{{i}}</span></span>
<span class="lineaNota"><span id={{nota+1}} onclick="playNote(this)" class="notaCorpoPrincipaleB">C+{{i}}</span></span>
<span class="lineaNota"><span id={{nota}} onclick="playNote(this)" class="notaCorpoPrincipaleW">C{{i}}</span></span>
{% endfor %}
  <span class="separatoreOttave"></span>

</span>

</body>
</html>
