<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Weedim, your trusted Web Midi Maker by Massimo Trionfante  -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WEEDIM - Web Midi Maker</title>
<link rel="stylesheet" type="text/css" href={{url_for('static',filename="weedim.css")}}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src={{url_for('static',filename="weedim.js")}} type="text/javascript"></script>
<!-- Content from Midi.js coming -->
<!-- polyfill -->
<script src={{url_for('static',filename="midijs/inc/shim/Base64.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/inc/shim/Base64binary.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/inc/shim/WebAudioAPI.js")}} type="text/javascript"></script>
<!-- midi.js package -->
<script src={{url_for('static',filename="midijs/js/midi/audioDetect.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/gm.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/loader.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/plugin.audiotag.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/plugin.webaudio.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/midi/plugin.webmidi.js")}} type="text/javascript"></script>
<!-- utils -->
<script src={{url_for('static',filename="midijs/js/util/dom_request_xhr.js")}} type="text/javascript"></script>
<script src={{url_for('static',filename="midijs/js/util/dom_request_script.js")}} type="text/javascript"></script>

</head>
<body>
<!-- Loading screen -->
<span class="loadingScreen" id="loadclear">
<span id="loading" class="fa fa-refresh"></span>
<span class="loadingwrite">Loading Soundfont...</span><br>
<span class="loadinglong">It's taking longer than expected.<br>If the loading persists, try again later, or check your internet connection.</span>
</span>

<!-- Banner -->
<span class="banner">
<span class="elBanner"><img alt="banner" src={{url_for('static',filename="img/banner.png")}} width=400 height=150></span>
<span class="elBanner">
<br>
<b>Author:</b> Massimo Trionfante<br>
<b>Mail:</b> massimo.trionfante@gmail.com<br>
<b>Github:</b> <a href="https://github.com/MassimoTrionfante/Weedim">https://github.com/MassimoTrionfante/Weedim</a><br>
</span>
</span>


<!-- BARRA IN ALTO -->
<span class="barraSuperiore">

<!-- Menu' tendina -->
<span class="menuTendina">
<!-- ...e i vari elementi interni -->
<span class="elemMT" onclick="showHelp()">Help</span>
SESSION NUMBER:
<form method="POST" style="display:inline">
<input name="sessionNumber" type="text" style="width:100px" required></input>
<input type="submit" value="Load Sheet"</input>
{% for message in get_flashed_messages() %}
<span class="flash" style="color:#FF0000">{{ message }}</span>
{% endfor %}
</form>
</span>

<!-- Menu' con info del progetto -->
<span class="menuInfo">
<!-- ...e i vari elementi interni (span class elemMI)-->
<span class="elemMI">Length:
   <span id=1 style="color:#F080A0; cursor:pointer;" class="fa fa-minus-circle" onclick="changeLength(this)"></span>
     <span id="noteLength" class="elemMIIn">4</span>th
   <span id=2 style="color:#80F0A0; cursor:pointer;" class="fa fa-plus-circle" onclick="changeLength(this)"></span>
</span>
<span class="elemMI">Play <span class="fa fa-play" style="color:#80F0A0; cursor:pointer" onclick="playMusic()"></span> </span>
<span class="elemMI">Undo <span class="fa fa-undo" style="color:#F080A0; cursor:pointer" onclick="doUndo()"></span> </span>
<span class="elemMI">Add rest <span id=0 class="fa fa-cube" style="color:#F080A0;cursor:pointer" onclick="addNote(this,event)"></span> </span>
<span class="elemMI">REC. <span class="fa fa-dot-circle-o" style="cursor:pointer;color:#F04080" onclick="toggleRec(this)"> </span> </span>
<span class="elemMI">Delete <span class="fa fa-trash" style="color:#F080A0;cursor:pointer" onclick="nuclearNuke()"></span>  </span>
</span>


<!-- CORPO PRINCIPALE, dove puoi piazzare le note -->
<span id="corpoPrincipale" class="corpoPrincipale">
<!-- Here is where new notes append -->
<script>
var music = [0];
var lengths = [0,0];
var isRec = 1;
var numOfNotes = 0;
var whereNextNote = 32;

var mioPianoRoll = document.getElementById("corpoPrincipale");

{% for elem in g.delays %}
lengths.push({{elem}});
{% endfor %}

{% set i = 0 %}
{% for elem in g.notes %}
music.push({{elem}});

var notaFresca = document.createElement("span");

{% if elem != 0 %}
notaFresca.className = "nota";
{% else %}
notaFresca.className = "rest";
{% endif %}

notaFresca.style.offsetTop = 3 + "px";
notaFresca.style.height = 2238 + "px"; // TODO arrayNoteBegin[numOfNotes]
notaFresca.style.left = whereNextNote + "px";

{% if elem == 0 %}
     if (32/lengths[numOfNotes+2]==32){notaFresca.style.width=472 + "px"; whereNextNote+=472+8;}
else if (32/lengths[numOfNotes+2]==16){notaFresca.style.width=232 + "px"; whereNextNote+=232+8;}
else if (32/lengths[numOfNotes+2]==8){notaFresca.style.width=112 + "px"; whereNextNote+=112+8;}
else if (32/lengths[numOfNotes+2]==4){notaFresca.style.width=52 + "px"; whereNextNote+=52+8;}
else if (32/lengths[numOfNotes+2]==2){notaFresca.style.width=22 + "px"; whereNextNote+=22+8;}
else if (32/lengths[numOfNotes+2]==1){notaFresca.style.width=7 + "px"; whereNextNote+=7+8;}
{% else %}
     if (lengths[numOfNotes+2]==32){notaFresca.style.width=472 + "px"; whereNextNote+=472+8;}
else if (lengths[numOfNotes+2]==16){notaFresca.style.width=232 + "px"; whereNextNote+=232+8;}
else if (lengths[numOfNotes+2]==8){notaFresca.style.width=112 + "px"; whereNextNote+=112+8;}
else if (lengths[numOfNotes+2]==4){notaFresca.style.width=52 + "px"; whereNextNote+=52+8;}
else if (lengths[numOfNotes+2]==2){notaFresca.style.width=22 + "px"; whereNextNote+=22+8;}
else if (lengths[numOfNotes+2]==1){notaFresca.style.width=7 + "px"; whereNextNote+=7+8;}
{% endif %}

notaFresca.id = {{elem}};
notaFresca.setAttribute("name",lengths[numOfNotes+2].toString());
notaFresca.setAttribute("onclick","javascript: playNote(this)");
notaFresca.style.opacity=0.5;
mioPianoRoll.appendChild(notaFresca);

numOfNotes++;
{% endfor %}

</script>


<!-- Build vertical lines. Each square is a 16th note -->
{% set i = 1 %}
{% for i in range(1,1300) %}
{% set j = i*30 %}
<span class="lineaSedicesima" style="margin-left:{{j}}px;"></span>
{% if i%4 == 0 %}
<span class="lineaSedicesima" style="margin-left:{{j+1}}px;"></span>
{% endif %}
{% endfor %}

<!-- build the piano on the left of the roll, plus, add horizontal lines. Process iterates for each octave -->
{% set j = 0 %}
{% set nota = 12 %}
{% for j in range(0,6) %}
{% set i = 7-j %}
{% set nota = 12*i %}
<span class="separatoreOttave"></span>
<span class="lineaNota"><span id={{nota+11}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleW">B{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+10}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleB">A+{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+9}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleW">A{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+8}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleB">G+{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+7}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleW">G{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+6}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleB">F+{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+5}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleW">F{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+4}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleW">E{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+3}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleB">D+{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+2}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleW">D{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota+1}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleB">C+{{i-1}}</span></span>
<span class="lineaNota"><span id={{nota}} onclick="playNote(this); addNote(this, event, 0)" class="notaCorpoPrincipaleW">C{{i-1}}</span></span>
{% endfor %}
</span>

<!-- Horizontal piano goes here  -->
<span class="pianoBox">
<!-- Build every octave  -->
{% set j = 0 %}
{% set nota = 12 %}
{% for j in range(1,7) %}
{% set nota = 12*(j+1) %}
<span class="notaPianoW" id={{nota}} onclick="playNote(this); addNote(this,event, 1)" >C{{j}}</span>
<span class="notaPianoB" id={{nota+1}} onclick="playNote(this); addNote(this,event, 1)" >C+{{j}}</span>
<span class="notaPianoW" id={{nota+2}} onclick="playNote(this); addNote(this,event, 1)" >D{{j}}</span>
<span class="notaPianoB" id={{nota+3}} onclick="playNote(this); addNote(this,event, 1)" >D+{{j}}</span>
<span class="notaPianoW" id={{nota+4}} onclick="playNote(this); addNote(this,event, 1)" >E{{j}}</span>
<span class="notaPianoW" id={{nota+5}} onclick="playNote(this); addNote(this,event, 1)" >F{{j}}</span>
<span class="notaPianoB" id={{nota+6}} onclick="playNote(this); addNote(this,event, 1)" >F+{{j}}</span>
<span class="notaPianoW" id={{nota+7}} onclick="playNote(this); addNote(this,event, 1)" >G{{j}}</span>
<span class="notaPianoB" id={{nota+8}} onclick="playNote(this); addNote(this,event, 1)" >G+{{j}}</span>
<span class="notaPianoW" id={{nota+9}} onclick="playNote(this); addNote(this,event, 1)" >A{{j}}</span>
<span class="notaPianoB" id={{nota+10}} onclick="playNote(this); addNote(this,event, 1)" >A+{{j}}</span>
<span class="notaPianoW" id={{nota+11}} onclick="playNote(this); addNote(this,event, 1)" >B{{j}}</span>
{% endfor %}
</span>

</body>
</html>
