.elInput {
color: #4040FF;
cursor: pointer;
}

.banner {
background: linear-gradient(to bottom right, #303040, #000000);
display: block;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 1px;
}

.elBanner {
vertical-align: top;
text-align: left;
display: inline-block;
}

a {
text-decoration: none;
color: #8080C0;
}

a:hover {
text-decoration: none;
color: #C0C0FF;
}

body {
background-color: #000000;
color: #FFFFFF;
margin: 0vw;
font-family: "Lucida Console", Monaco, monospace;
-webkit-touch-callout:none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select:none;
-ms-user-select:none;
user-select: none;
}

.barraSuperiore {
display: block;
color: #C0C0FF;
}

.menuTendina {
display: block;
padding: 4px;
border-bottom: 1px solid #101040;
border-top: 1px solid #101040;
background-color: #404090;
border-top-right-radius: 20px;
background-image: url("img/tile1.png");
}

.elemMT {
box-shadow: 1px 1px 3px #000040;
display: inline-block;
padding: 2px;
border-radius: 10px;
border-right: 1px solid #101040;
border-bottom: 1px solid #101040;
border-top: 1px solid #C0C0FF;
border-left: 1px solid #C0C0FF;
background-color: #5050A0;
position: relative;
font-size: 13px;
color: #C0C0FF;
text-shadow: 1px 1px #202050;
}

@keyframes aniEleMT {

0% { color: #FFFFFF; text-shadow: 1px 1px #000000; }
50% { color: #C0C0FF; text-shadow: 1px 1px #101040; }
100% { color: #FFFFFF; text-shadow: 1px 1px #000000 }

}

.elemMT:hover {
cursor: pointer;
background-color: #303080;
animation-name: aniEleMT;
animation-duration: 2s;
animation-iteration-count: infinite;
border-top: 1px solid #A0A0DD;
border-left: 1px solid #A0A0DD;
}

.menuInfo {
display:block;
background-color: #202060;
border-bottom-right-radius: 35px;
font-size: 20px;
text-shadow: 2px 2px #000040;
}

.elemMI {
padding: 3px;
border-right: 4px dotted #101050;
}

.barraLaterale {
border: 2px solid #101040;
position: static;
display: inline-block;
padding: 10px;
background-image: url("img/tile1.png");
background-color: #101050;
width: 160px;
max-height: 65%;
overflow: auto;
}

.corpoPrincipale {
border: 1px solid #101040;
position: absolute;
background-color: #050530;
width: 80%;
height: 65%;
overflow: auto;

}

.lineaNota {
border-bottom: 1px solid #303070;
width: 99999px;
display: block;
}

.lineaSedicesima {
width: 30px;
position: absolute;
display: block;
height: 1661px;
overflow: auto;
border-right: 1px solid #303070;
}

.separatoreOttave {
border: 1px solid #303070;
width: 99999px;
display: block;
}

.notaCorpoPrincipaleW {
border: 1px solid #303070;
background-color: #A0A0FF;
display: block;
color: #000040;
text-align: center;
width: 30px;
}

.notaCorpoPrincipaleB {
border: 1px solid #303070;
background-color: #000040;
display: block;
color: #A0A0FF;
text-align: center;
width: 30px;
}

.rigaBarraLaterale {
display: block;
padding: 1px;
}

.canaleLaterale {
border: 1px solid #E0E0FF;
border-bottom: 1px solid #A0A0FF;
border-right: 1px solid #A0A0FF;
background: linear-gradient(to bottom, #000040, #9090F0);
border-radius: 10px;
padding: 3px;
font-size: 12px;
cursor: pointer;
box-shadow: 1px 1px 3px #5050A0;
text-align: center;
}

.canaleLateraleAggiungi {
border: 1px solid #E0E0E0;
border-bottom: 1px solid #A0A0A0;
border-right: 1px solid #A0A0A0;
background: linear-gradient(to bottom, #202020, #909090);
border-radius: 10px;
color: #000000;
padding: 3px;
font-size: 12px;
cursor: pointer;
box-shadow: 1px 1px 3px #A0A0A0;
}

.canaleAttivo {
color: #8080FF;
font-size: 20px;
cursor: pointer;
text-shadow: 1px 0 #4040A0, 0 1px #4040A0, -1px 0 #4040A0, 0 -1px #4040A0;
}

.canaleDisattivo {
color: #803030;
font-size: 20px;
cursor: pointer;
text-shadow: 1px 0 #502020, 0 1px #502020, -1px 0 #502020, 0 -1px #502020;
}

.canaleDaAggiungere {
color: #404040;
font-size: 20px;
text-shadow: 1px 0 #202020, 0 1px #202020, -1px 0 #202020, 0 -1px #202020;
}

